<div class="row" ng-controller="booksCtrl">
    <div class="col-md-12">
        <h3 class="page-header">Books</h3>
        
        <a href="#/books/new" class="btn btn-success lib-btn">New Book</a>
        <div class="row">
            <div class="form-group col-md-3 search-el">
                <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </div>
        </div>
        
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Authors</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <tr ng-repeat="book in books | filter: search">
                <td>[[ book.id ]]</td>
                <td>[[ book.name ]]</td>
                <td>
                    <a ng-repeat="author in book.authors"> [[ author.author ]] </a>
                </td>
                <td><a ng-href="#/books/edit/[[ book.id ]]" class="glyphicon glyphicon-pencil"></a></td>
                <td><a ng-href="#/" class="glyphicon glyphicon-remove" ng-click="delete(book.id)"></a></td>
            </tr>
        </table> 
    </div>
</div>