.main-container {
    margin-top: 70px;
    
}

.table, .search-el {    
    margin-top: 20px;
}

.lib-btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.form-error {
    margin: 5px 0;
    color: crimson;
}

.img-preview > img {
    width: 160px;
}

.img-preview a{
    vertical-align: top;
}