@font-face {
    font-family: dx;
    src: url(dx.woff2);
}

h1, h2, h3, h4, h5 {
    font-family: dx;
}

a {
    cursor: pointer;
}

.main-container {
    margin-top: 70px;
    
}

.table, .search-el {    
    margin-top: 20px;
}

.lib-btn {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.form-error {
    margin: 5px 0;
    color: crimson;
}

.img-preview > img {
    width: 160px;
}

.img-preview a {
    vertical-align: top;
}

.book-info {
/*
    width: 240px;
    float: left;
*/
    margin: 10px;
}

.book-img > img {
    height: 240px;
    
}

.book-description {
    margin: 15px 0;
}

.book-top {
    margin: 10px 0;
    font-size: 14px;
}

.book-top-list {
    
    font-size: 14px;
    
}

.filter-inputs input, button{
    margin-top: 10px;
}