<div class="row">
    <div class="col-md-5">
        <h3 class="page-header">Edit Author</h3>
        <form name="libraryform" novalidate>
            <div class="form-group">
                <label for="InputAuthor">Full Name</label>
                <input type="text" class="form-control" name="author" id="InputAuthor" placeholder="Full Name" required ng-model="author.author">
                <p class="form-error" ng-show="libraryform.author.$error.required">Type full name</p>
            </div>
      
            <a href="#/authors" class="btn btn-danger pull-right lib-btn">Back</a>
            <button type="submit" ng-click="update(author.id)" ng-disabled="libraryform.author.$error.required" class="btn btn-success pull-right lib-btn">Edit</button>
            
        </form>
    </div>
</div>